:root {
    --main-bg-color: red;
    --target-color: blue;
}

.sprites {
    width: 414px;
    height: 238px;

    border: thin dashed #333;

    background-image: url('../images/bmc_logo.svg');
    background-repeat: no-repeat;

    background-size: cover;

    animation: logoanim 0.5s steps(7, end) infinite;
}


.box {
    width: 200px;
    height: 50px;
    background-color: var(--main-bg-color);

    animation-name: colorswap;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-direction: alternate;

    display: block;
}

.box2 { animation-duration: 1s; }
.box3 { animation-duration: 0.5s; }

@keyframes colorswap {
    from { 
        background-color: var(--main-bg-color);
        width: 200px;
    }
    to { 
        background-color: var(--target-color);
        width: 400px;
    }
}

@keyframes logoanim {
    from { background-position: 0 0; }
    to { background-position: 0 -1670px; }
}